.answer-btn { 
	display: flex;
	justify-content: center;
	align-items: center;
    padding: 10px; 
    background: #eee; 
    border: 1px solid #ccc;
	border-radius: 10px; 
    cursor: pointer;
	text-align: center;
}

.answer-btn.default {
    color: white;
    background-color: #321c88 !important;
    border-color: #281768 !important;
}
.answer-btn.next {
    display: block;
    margin-top: 20px;
    width: calc(100% + 18.5px);
    margin-left: -20px;
    color: white;
    background-color: #321c88 !important;
    border-color: #281768 !important;
	translate: 0 20px;
}

.answer-btn.correct {
    background-color: #6bff8b !important;
    border-color: #27ae60 !important;
}

.answer-btn.wrong {
    background-color: #ff6b6b !important;
    border-color: #c0392b !important;
}

body { font-family: Arial, sans-serif; padding: 20px; font-size: 16px;}

.questionaire{
	min-height: 150px;
    background: #b6f4f4;
    padding: 20px;
    margin-top: 10px;
    border-radius: 10px;
}

.options
{
    background: #d1d1d1;
    padding: 20px;
    margin-top: 10px;
    border-radius: 10px;
}

.buttons {
    display: grid;
    grid-template-columns: 22% 22% 22% 22%;
    column-gap: 4%;
	row-gap: 5px;
}

.minimised {
	height: 50px;
	overflow: overlay;
}

iframe {
	width: 560px;
    height: 315px;
    border: 2px solid black;
    border-radius: 20px;
    margin-left: calc(50% - 280px);
	margin-top: 10px;
}

img {
    display: block;       
    margin: 0 auto 15px;  
    max-width: 90%;       
    max-height: 315px;
    margin-top: 10px;    
}

a {
	display: block;
	text-align: center;
}